@model Mvc.Areas.Shop.Models.ProductsModel

@{
    ViewBag.Title = "Products";
}

<h1>Products</h1>

<form method="post">
    <div>
        <div>
            Select a Category: &nbsp;
             @Html.DropDownList("CategoryId", Model.Categories, new { id = "categories", style = "width:140px;font-size:11pt;" })
        </div>

        <br />
        <br />
        @Html.Partial("_Products", Model.Products)
    </div>
</form>

@section Scripts
{
    <script type="text/javascript">

        $(function () {
            $('#categories').on("change", function () {
                $('form').submit();
            });
        });
    </script>
}


