@{
    ViewBag.Title = "Logout";
}

<h1>Logout</h1>


<p>
    Thank you for using the MVC pattern.<br />
    You are now logged out.  
</p>

<br />

<ul>
    <li><a href="/login">Click here</a> to log back in</li>
    <li><a href="/">Click here</a> to go to home page</li>
    <li><a href="/shopping">Click here</a> to start shopping</li>
</ul>
