@{
    ViewBag.Title = "Patterns in Action 4.5";
}

<h1>Welcome</h1>
    
    <!-- image -->
    
    <div class="floatright" style="text-align:right;">
      @*<img src="/images/clouds.jpg" alt="" width="162" height="232" style="border:0px" />*@
        <img src="/images/image45.jpg" alt="" width="181" height="212" style="border:0px" />
    </div>
        
	<p>
	You are running <i>Patterns in Action 4.5</i> with <b>ASP.NET MVC</b>. This app
    demonstrates when, where, and how design patterns are 
	used in a modern multi-layered web application.
	</p>
	
	<p>
	<i>Patterns in Action 4.5</i> has been built around the most frequently used 
	design patterns and associated best practices. 
    As its name implies, MVC is a core pattern in this application.
    Please note there is also an <b>ASP.NET Web Forms</b> implementation of the same app. 
	</p> 
	<br />
    <b>Getting Started</b>
    <br /><br />
	<p>
    To familiarize yourself with the functionality of this app begin by selecting the menu items on the left and 
    then explore the different pages. Once you've explored all pages, we suggest you analyze the .NET Solution 
    and Project structure. This will provide a general overview of the architecture, the layers, 
    and some of the major patterns (MVC, Facade, etc.) used to build this reference application. 
    </p>
    <p>
    Once you are comfortable with the overall functionality and project structure you'll 
    want to explore the details of the code and patterns used throughout the application.  
    The Visual Studio debugger will be of great help. Start by setting a breakpoint in the appropriate 
    action method in a controller. Then step through all the down to the data access layer and 
    back up just before the View is rendered. 
    </p>
    <p>
    Be sure to also explore the other UI platforms: ASP.NET Web Forms, 
    Windows Forms and WPF. All of these are available in the folder named 'Presentation Layer'. 
    Select the appropriate UI platform by clicking the 'Set as Startup Project' menu item.
    It is important to know that all UI platforms consume the exact same Service, 
    Business, and Data Access layers.
    </p>
    <p><i>Patterns in Action 4.5</i> supports 3 different data access technologies: 
    ADO.NET, Linq2Sql, and Entity Framework. Choose your technology by changing the 
    <i>Provider</i> application setting in web.config. This flexibility is offered courtesy of 
    the Data Access Object pattern.
    </p>
    <p>
    <br />
    <b>Where To Find Documentation</b>
    <br />
    <br />
    Setup, functionality, design, architecture, and design patterns are discussed in
    the accompanying document named: <i>Patterns In Action 4.5.pdf</i>. 
    </p>
    <br />
    <b>Next Step: Spark 4.5</b>
    <br />
     <p>
    Upon completing Patterns in Action 4.5 you will be ready to explore <b>Spark 4.5</b>
    which is a pattern-based rapid application development (RAD) platform that allows you 
    to build .NET apps quickly and easily.  
    It uses a lightweight architecture and a limited set of practical, proven patterns and practices. 
    Spark 4.5 embraces <i>convention over configuration</i> which helps to create
    .NET apps that are simple, robust, and fast. Of course, 100% of the source code is included.
    </p>
    <p>
    <b>Art Shop</b> is a reference application built with Spark 4.5. 
    It is a full-stack, real-world e-commerce Web application that allows users to purchase art reproductions by 
    famous artists, such as Van Gogh, Monet, and Vermeer. 
    </p>
    <p>        
    Art Shop is a comprehensive online store with product catalog, shopping cart, 
    administration and reporting areas. Common navigation patterns include: browsing, searching, 
    sorting, filtering, pagination, and master-detail. Security measures include authorization, authentication, 
    OAuth (Facebook), cross-site scripting, and SQL injection. Other features and tools 
    are REST, JavaScript, jQuery, Bootstrap and more. In short, <i>everything</i> you need to build 
    a modern web apps today. 
    </p>
    <br />
    <br />
    <br />
    <br />