@{
    ViewBag.Title = "Login Failure";
}


<div class="row row-first box-noborder">
    <div class="span7">
        <div style="padding: 40px 0 200px 40px;">
            <h3>Facebook login</h3>
            <p>Sorry, it seems that your login to Facebook was unsuccessful.<br />
                But don't worry, you can also create a local account on this site.<br /><br />
                <a href="/signup">Click here</a> to create your account with us.<br /><br />
                <i>The Art Shop Team.</i>
                </p>
        </div>
    </div>
</div>

