@{
    ViewBag.Title = "Logout";
}

<div class="row row-first box-noborder">
    <div class="span7">
        <div style="margin: 40px 10px 90px 30px;padding:30px;background:#f5f5f5;">
            <h3>Logout</h3>
            <p>You are now logged out. <br />
            We look forward to seeing you back soon.</p>

            <br />
            <br />
            <a href="/">Click here</a> to go to home page<br />
            <a href="/products">Click here</a> to go shopping<br />
            <br />
            <br />

            </div>
    </div>
</div>