@if (ViewData["Success"] != null)
{
    <div id="alert-success" class="alert alert-success alert-absolute">
       <button type="button" class="close" data-dismiss="alert">&times;</button>
          @ViewData["Success"]
    </div>
    
    TempData["Success"] = null;      // prevents redisplay following a non-redirect
}

@if (ViewData["Failure"] != null)
{
    <div id="alert-failure" class="alert alert-error alert-absolute">
       <button type="button" class="close" data-dismiss="alert">&times;</button>
          @ViewData["Failure"]
    </div>
    
    TempData["Failure"] = null;      // prevents redisplay following a non-redirect
}