@{
    ViewBag.Title = "Error";
}

<div class="row row-first box-noborder">
    <div class="span6">
       <section>
       <div style="padding:20px;" >
       <h2 style="padding:10px 0 0 0px;">What happened?</h2>
        
           <div style="background:#f5f5f5;padding:20px; margin:20px 40px 100px 0;">

           <p>Please accept our apologies. It seems that an error has occurred.  
           The error details have been collected. We will be looking into this problem shortly. 
           <br /><br /><br />
           The Art Shop Team.
           
               <br />
                <br />
                <br />
                <a href="/">Click here</a> to return to the home page.<br />
                <a href="/products">Click here</a> to return to the Art Shop.<br />
           <br /><br />
        </p>
           </div>

        </div>
        </section>
    </div>
    <div class="span6">
        <img src="/images/vangogh4.jpg" style="width:360px;height:442px;padding:40px 0 40px 20px;" alt="" />
    </div>
</div>