<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="myviewstateSection">
      <section name="viewstateService" type="WebForms.Code.ViewStateProviderServiceSection, WebForms" allowDefinition="MachineToApplication" restartOnExternalChanges="true" />
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="Action" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=Action2;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\Action2.mdf" providerName="System.Data.SqlClient" />
    <add name="ActionEntities" connectionString="metadata=res://*/EntityFramework.Action.csdl|res://*/EntityFramework.Action.ssdl|res://*/EntityFramework.Action.msl;provider=System.Data.SqlClient;provider connection string='data source=(LocalDb)\v11.0;attachdbfilename=&quot;|DataDirectory|\Action2.mdf&quot;;initial catalog=Action2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webPages:Version" value="2.0" />
    <add key="enableSimpleMembership" value="false" />
    <add key="autoFormsAuthentication" value="false" />
    <!-- Options are: Ado.Net, Linq2Sql, or EntityFramework -->
    <add key="DataProvider" value="EntityFramework" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <pages theme="Theme45" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <authentication mode="Forms">
      <forms loginUrl="~/login" timeout="2880" />
    </authentication>
    
    <membership defaultProvider="SimpleMembershipProvider">
      <providers>
        <add name="SimpleMembershipProvider" type="WebMatrix.WebData.SimpleMembershipProvider, WebMatrix.WebData" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="SimpleRoleProvider">
      <providers>
        <add name="SimpleRoleProvider" type="WebMatrix.WebData.SimpleRoleProvider, WebMatrix.WebData" />
      </providers>
    </roleManager>
    
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>

  <!-- authorization for admin area -->
  
  <location path="admin">
    <system.web>
      <authorization>
        <!-- allow admins -->
        <allow roles="Admin" />
        <!-- deny all other users -->
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <myviewstateSection>
    <!-- 
           Custom viewstate provider service 
     -->
    <viewstateService defaultProvider="ViewStateProviderGlobal">
      <providers>
        <add name="ViewStateProviderCache" type="WebForms.Code.ViewStateProviderCache" />
        <add name="ViewStateProviderGlobal" type="WebForms.Code.ViewStateProviderGlobal" />
        <add name="ViewStateProviderSession" type="WebForms.Code.ViewStateProviderSession" />
      </providers>
    </viewstateService>
  </myviewstateSection>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>